<?php
/**
 * DataTables Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
return array(
    'datatables' => array(
        'servers_datatable' => array(
            /**
             * Must implements Zend\ServiceManager\FactoryInterface.
             * createService method must return GtnDataTables\CollectorInterface.
             */
            'collectorFactory' => 'MyProject\Service\MyCollectorFactory',
            'columns' => array(
                array(
                    /**
                     * Must extend GtnDataTables\View\AbstractDecorator
                     */
                    'decorator' => 'MyProject\View\MyDecorator',
                    /**
                     * Used to identify the column for ordering
                     * Optionnal (if the column is not orderable)
                     */
                    'key' => 'name',
                )
            )
        )
    )
);